[2015-07-30 13:27] pcause opened #1 "Firefox mobile support please"
Looks like a GREAT addition to firefox, and thanks.  When I try to also add to my mobile it isn't in the addins.  Can you update the package to support firefox mobile

[2015-07-30 18:17] ChrisAntaki commented on #1
Thanks for the heads up. I will look into adding Firefox Mobile support soon.

[2015-07-30 19:14] ChrisAntaki commented on #1
Just submitted a new version with Firefox Mobile support: https://addons.mozilla.org/en-US/firefox/addon/happy-bonobo-disable-webrtc/versions/?page=1#version-1.0.6

Thanks again for bringing this up.

[2015-07-30 19:36] pcause commented on #1
Thanks so much.  Just installed.  One thing is that there is no menu item to enable/disable.  I can do it it add ons so that will work but when I tape the Android menu key there could be an item to toggle state.  Extensions like Self-destructing cookies or uBlock Origin add items for this purpose.

[2015-07-30 19:38] ChrisAntaki commented on #1
Interesting, I will look into how they're doing that

Sent over the air
On Jul 30, 2015 12:36 PM, "pcause" notifications@github.com wrote:

[2015-08-21 09:30] dbruenig opened #2 "network.http.speculative-parallel-limit"
There's a new risky setting that got active with firefox 40:
network.http.speculative-parallel-limit
Maybe setting this to 0 could be added to the disable webrtc addon.
Webrtc could then evolve to an addon giving a stringent, sane and secure default. Although I am open for adding another addon beside Disable webrtc.

[2015-08-21 19:47] ChrisAntaki commented on #2
Good call, I will create a new addon for this

[2015-08-22 21:18] ChrisAntaki commented on #2
Just launched it
https://github.com/ChrisAntaki/disable-speculative-pre-connections
https://addons.mozilla.org/en-US/firefox/addon/disable-speculative-pre-connec/

[2015-11-05 21:45] flyingzebras opened #3 "License note missing in file"
Can you please add this to /resources/happybonobo_disable_webrtc/lib/main.js

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

Please add license headers in the rest of your files for all of your work, and I will be glad to approve them in htt

[2015-11-05 21:46] #2 closed

[2015-11-05 21:50] ChrisAntaki commented on #3
Cool, I'll add those license headers

[2015-11-05 21:55] ChrisAntaki commented on #3
@flyingzebras License headers have been added to Disable Speculative Pre-connections, Disable Visited Links, and Disable WebRTC

[2015-11-05 22:01] ChrisAntaki commented on #3
Should I resubmit these to AMO too?

[2015-11-05 22:10] flyingzebras commented on #3
Yes, we only approve verified software.

[2015-11-05 22:12] flyingzebras commented on #3
@ChrisAntaki Please also add a COPYING file in the root directory that holds a copy of the license too.

[2015-11-05 22:48] ChrisAntaki commented on #3
@flyingzebras Just added a COPYING file to each project, recompiled with `jpm`, and submitted to AMO - hopefully they'll be approved in the next few days!

[2015-11-05 22:53] flyingzebras commented on #3
@ChrisAntaki Thank you for helping us. I will have a new look when they are uploaded.

Consider to make an add-on which merge all your Disable \* extensions into one. I think that would be really nice as the users only need to install one add-on.

[2015-11-05 22:55] flyingzebras commented on #3
@ChrisAntaki You can re-use code from https://addons.mozilla.org/en-US/firefox/addon/privacy-settings/ for such project.

[2015-11-05 23:01] flyingzebras commented on #3
@ChrisAntaki Actually I would suggest that you submit your privacy suggestion to  https://addons.mozilla.org/en-US/firefox/addon/privacy-settings/. That would be even better. Can you please do that?

[2015-11-05 23:02] ChrisAntaki commented on #3
Glad to help @flyingzebras - I'll have to pause on working on these for a bit

[2015-11-05 23:02] flyingzebras commented on #3
I understand. Good luck.

[2015-11-05 23:20] flyingzebras commented on #3
@ChrisAntaki I asked about this task in https://github.com/schomery/privacy-settings/issues/18

[2015-11-09 09:59] #3 closed

[2015-11-16 21:20] rugk opened #4 "Add a method to ask the user for every connection"
In Firefox 42 [a feature was added](https://hacks.mozilla.org/2015/09/controlling-webrtc-peerconnections-with-an-extension/) which allows add-ons to get information if a web service wants to use WebRTC.
I think implementing this here would be a nice idea too, so you only have to answer a question if you want to use WebRTC and otherwise you have no privacy impact.

An example implementation was pub

[2015-12-24 11:35] dbruenig opened #5 "FF42+ allows finer grained configuration options"
With Firefox version 42 and up a new configuration is available which allows the user to return the default address without leaking the local ip: media.peerconnection.ice.default_address_only

* The default interface used for general routing is identified and only that address is used for candidate generation
* LAN IP addresses are not generated, the external IP address for that interface is (for

[2016-01-13 02:13] ChrisAntaki commented on #5
Nice, I'll look into this soon

[2016-01-13 03:14] ChrisAntaki commented on #5
Just submitted a [new version](https://addons.mozilla.org/en-US/firefox/addon/happy-bonobo-disable-webrtc/versions/?page=1#version-1.0.9) to AMO

[2016-01-15 01:03] ChrisAntaki commented on #4
This is a cool idea. Hopefully the new `media.peerconnection.ice.default_address_only` feature will accomplish the same goal, more or less.

[2016-01-15 01:03] #4 closed

[2016-01-16 14:10] WriteThis opened #6 "Public IP"
I'm only continuing to post here to HELP YOU learn about your mistake.  I have a working addon already so I don't really care if you ever admit that you are mistaken or not.

Let's set up the environment to be sure that you fully understand what I'm saying.

1) I am using a VPN.  Firefox is routed through this VPN. Every normal "what is my ip" website shows the IP of the VPN only.

2) Using **your

[2016-01-16 14:25] ChrisAntaki commented on #6
Thanks for making an issue. I hope we can come to an agreement on this. :)

Sure, let's discuss just the ISP IP leakage.

This setting is what the plugin now uses.

So here's what I think leads to you and I having different opinions here. When visiting these pages with a VPN active, and the Secure WebRTC plugin enabled in Firefox...

https://www.privacytools.io/webrtc.html
https://www.browserleaks

[2016-01-16 14:36] ChrisAntaki commented on #5
Hey @dbruenig , could you confirm the new version of the plugin is working for you? It's working for me, and properly showing my VPN's public IP and all. There's a user who's experiencing issues though, and I'm hoping it's not a flaw with the new setting or anything.

Thanks!

[2016-01-16 15:13] WriteThis commented on #6
I just tested something else, so I'll admit that my setup might be slightly unique in the way I am connecting to the VPN; but not so unique that it should make a major difference.  Perhaps this is a different issue that needs to be addressed.

If I use the OpenVPN client then it appears your addon works as expected, I see the VPN IP only.

The way I was connecting, where your addon was not working

[2016-01-16 18:10] JukkT commented on #6
Guys I'm not going to take a part for these specifics you are talking about, but for me this add on "Secure Webrtc for android" has being working perfectly until now when firefox totally disabled this add on withouth any warning. It happened last night and after that it has not been able to turn it on in my android firefox. I even tried to uninstal it and re instal older version wich worked perfec

[2016-01-16 21:04] ChrisAntaki commented on #6
Wow, interesting. Thanks for digging into this. I'll revert the changes to the plugin. Could you tell me how to replicate the SSH tunnel set up, just so I could confirm?

[2016-01-16 21:15] ChrisAntaki commented on #6
Thanks for pointing this out, looks like the same thing has happened on my phone.

Good call.

[2016-01-16 21:32] ChrisAntaki commented on #6
I just pushed a new version which should fix both of your concerns. Thank you both _very much_ for bringing these issues up. Sorry for not catching them sooner.

https://addons.mozilla.org/en-US/firefox/addon/happy-bonobo-disable-webrtc/versions/?page=1#version-1.0.11

[2016-01-17 23:30] #6 closed

[2016-01-17 23:32] ChrisAntaki commented on #5
We got it all sorted out. :sunglasses:

[2016-01-17 23:32] #5 closed

[2016-02-10 20:01] spongessuck opened #7 "Whitelist"
I do web development and utilize WebRTC in my applications.

It'd be nice to be able to whitelist a domain so that I can keep the add-on active and avoid having to turn it on and off when I need to test/use my applications.

[2016-02-10 20:03] ChrisAntaki commented on #7
I'd love to add that feature, but WebRTC can only _safely_ be disabled browser wide.

[2016-02-10 20:50] spongessuck commented on #7
Bummer. Thanks anyway!

[2016-02-10 20:50] #7 closed

[2016-02-10 22:04] ChrisAntaki commented on #7
Thanks for bringing it up - I'll keep my eye out for upgrades from Mozilla.

[2016-03-07 05:51] flyingzebras commented on #3
@ChrisAntaki https://directory.fsf.org/wiki/IceCat/Disable_WebRTC and your other add-ons have MPL 2.0 added to as their license.

[2016-06-23 20:31] devhi0000 opened #8 "It does not work with 1a.org"
It does not work with 1a.org

Hi. I installed the Disable WebRTC 1.0.11 Firefox 45.0.2 extension and try the privacy of public IP with 1a.org web site, public IP is still displayed. Moreover, the same symptom occurs when you install another extension of another company, "WebRTC Control". Therefore, it seems that modifications that make these extensions to Firefox settings are not sufientes to bloc

[2016-06-24 12:10] ChrisAntaki commented on #8
Hey @devhi0000!

This plugin disables WebRTC to prevent a specific vulnerability affecting VPN users. It looks like 1a.org isn't trying to exploit this vulnerability. If you'd like to learn more about it, please check out this website: https://www.privacytools.io/webrtc.html

[2016-06-28 03:49] #8 closed

[2016-07-16 19:00] davidhedlund opened #9 "Only disable WebRTC private IP address leak"
Learned from [Fat-Free](https://addons.mozilla.org/en-US/firefox/addon/fat-free-firefox/) Fox documentation:

Airbnb can not be used with your add-on (no animation on the main page on aribnb.com, defunct search filters, etc), but Airbnb can be used with Fat-Free Firefox ("Block private IP address leak due to WebRTC (applicable for Firefox 42 and above)" enabled).

[2016-07-16 19:22] ChrisAntaki commented on #9
Hey @davidhedlund , sounds like Fat-Free Fox might be using the `media.peerconnection.ice.default_address_only` setting, instead of disabling WebRTC completely. For a span of time, this plugin actually switched to that setting too. Some users pointed out the new setting actually doesn't block private IP address leaks for some VPN configurations. After that I switched it back, not wanting to endang

[2016-07-16 19:24] davidhedlund commented on #9
@ChrisAntaki Can you please state that on AMO?

[2016-07-16 19:35] ChrisAntaki commented on #9
Good call, just added a note to the description!

[2016-07-16 20:00] davidhedlund commented on #9
@ChrisAntaki Thanks.

I quoted that in http://directory.fsf.org/wiki/Free_Software_Directory:IceCat_extensions_%28proposed%29

[2016-07-16 20:01] ChrisAntaki commented on #9
Glad to help, David

[2016-07-16 20:01] ChrisAntaki commented on #9
e

[2016-07-16 20:01] #9 closed

[2016-07-17 00:57] davidhedlund commented on #9
@ChrisAntaki Can you please also state that Firefox Hello, and all websites that are built on WebRTC (Airbnb, car2Go, UberConference, etc) will stop working with Disable WebRTC.

[2016-07-21 00:42] Konfekt opened #10 "persist enabled webrtc"
After clicking the 'disable webrtc' icon to enable webrtc, and restarting firefox, then webrtc is disabled again. The only way to enable webrtc persistently is to disable this extension it seems.

(Because `ublock origin` blocks `webrtc` to some extent, and sites like airbnb do not work without webrtc, sometimes it's sufficient and more convenient to keep webrtc enabled by default. But the comfort

[2016-07-21 04:50] ChrisAntaki commented on #10
Cool idea, @Konfekt. Though I'm afraid of catching users off guard. Some people are probably used to closing their browser with WebRTC enabled, and expect WebRTC to be disabled for their next session. Feel free to fork the addon though. :smile:

[2016-07-21 13:09] Konfekt commented on #10
Ok, then the persistence of webrtc should be a preference that is disabled by default. Would that be possible ?

[2016-07-21 15:12] ChrisAntaki commented on #10
Definitely, just uploaded a new version: https://addons.mozilla.org/en-US/firefox/addon/happy-bonobo-disable-webrtc/versions/?page=1#version-1.0.12 :sunglasses:

[2016-07-21 15:12] #10 closed

[2016-07-21 15:54] Konfekt commented on #10
Thanks!

[2016-08-02 01:43] Gitoffthelawn commented on #9
@ChrisAntaki wrote:

Can you provide more details into that discovery?

[2016-08-04 03:19] ChrisAntaki commented on #9
Hey @Gitoffthelawn, that's a good question.

@WriteThis, would you be able to tell us more about the SSH tunnel method you were using, that led to issues with the `media.peerconnection.ice.default_address_only` setting?

[2016-09-08 14:20] rugk opened #11 "Not compatible with e10s"
Is this add-on compatible with Electrolysis (e10s)? Electrolysis is the new architecture of Firefox and Mozilla already rolls out some stable Firefox versions with e10s enabled.

More information:
* https://arewee10syet.com/
* https://wiki.mozilla.org/Electrolysis

----

According to [ACL](https://addons.mozilla.org/firefox/addon/add-on-compatibility-reporter/) this add-on is not compatible with e

[2016-09-08 16:42] ChrisAntaki commented on #11
Yes, this add-on is compatible with Electrolysis. 😄

![image](https://cloud.githubusercontent.com/assets/1216762/18358087/4ac4a43c-75a8-11e6-9fc9-267c58b12a2e.png)

Perhaps the ACL add-on is being overly cautious?

[2016-09-08 17:15] ChrisAntaki commented on #11
Going to close this for now. Thanks for calling this out!

[2016-09-08 17:20] rugk commented on #11
No, you're looking at the wrong position. Check it again and go to the add-ons pane (`about:addons`). The panel you show is just for reporting that it is working.
If you want to mark your add-on as compatible with e10s you have to edit your manifest file.

[2016-09-08 17:27] ChrisAntaki commented on #11
Yes, that panel is used for reporting, and it also indicates whether multiprocess is enabled, in the lower right corner. Behind it is a page testing whether WebRTC is disabled. The plugin does appear to be working, with multiprocess enabled. 😄

Good to know about the manifest.json, I will look into that...

[2016-09-08 17:41] ChrisAntaki commented on #11
Thanks again for bringing this up, @rugk! An update is on the way

[2016-09-08 17:41] #11 closed

[2016-09-12 19:52] mindstormer12 opened #12 "Can't you just set media.peerconnection.enabled to false to disable WebRTC?"
Can't you just set media.peerconnection.enabled to false to disable WebRTC? What does this addon offer additionally?

[2016-09-12 19:57] ChrisAntaki commented on #12
Yes, you can. This addon just makes it easier to toggle on and off. Also, it provides a visual indication of its current state.

[2016-09-12 20:02] #12 closed

[2016-09-21 23:58] davidhedlund commented on #9
[mylabel:enhancement](https://github.com/search?utf8=%E2%9C%93&q=commenter%3Adavidhedlund+%22mylabel%3Aenhancement%22+in%3Acomments&type=Issues&ref=searchresults)

[2016-09-22 21:19] Gitoffthelawn commented on #9
@davidhedlund wrote:

Hi David, you mentioned those websites being built on WebRTC.  The websites definitely break without WebRTC, and I'm trying to understand why non-WebRTC functions break on those sites when WebRTC is disabled.

From what I have concluded so far, it appears to be a bug in one of the third-party libraries that those sites call.  When WebRTC is disabled, the libraries fail in an

[2016-09-22 21:39] davidhedlund commented on #9
@Gitoffthelawn Thank you for pointing this out.

I don't know more than what I [commented earlier](https://github.com/ChrisAntaki/disable-webrtc-firefox/issues/9#issue-165942800) in this post:

[2016-09-22 21:40] davidhedlund commented on #9
@ChrisAntaki Can you please respond to my [earlier comment](https://github.com/ChrisAntaki/disable-webrtc-firefox/issues/9#issuecomment-233159167)?

[2016-09-22 21:40] davidhedlund commented on #9
[mylabel:important](https://github.com/search?utf8=%E2%9C%93&q=commenter%3Adavidhedlund+%22mylabel%3Aimportant%22+in%3Acomments&type=Issues&ref=searchresults)

[2016-09-22 21:58] ChrisAntaki commented on #9
Hey @davidhedlund, could you tell me more about what's breaking on AirBnB?

[2016-09-22 22:01] davidhedlund commented on #9
@ChrisAntaki See this [comment](https://github.com/ChrisAntaki/disable-webrtc-firefox/issues/9#issue-165942800) in this post:

[2016-09-22 22:01] davidhedlund commented on #9
@ChrisAntaki Can you please re-open this issue?

[2016-09-22 22:24] ChrisAntaki commented on #9
@davidhedlund, are you still seeing the issues with Firefox 49? If so, could you write some steps to reproduce the issue? Just now, I wasn't able to.

[2016-09-22 23:32] davidhedlund commented on #9
[mylabel:question](https://github.com/search?utf8=%E2%9C%93&q=commenter%3Adavidhedlund+%22mylabel%3Aquestion%22+in%3Acomments&type=Issues&ref=searchresults)

[2016-10-05 12:43] rugk opened #13 "Always shows error at Firefox shutdown"
When I start Firefox from the console I always get these errors when closing Firefox:

[code]

Firefox 49.0
Linux x64

[2016-10-05 18:15] ChrisAntaki commented on #13
Good catch, @rugk. This issue is fixed with d05c25025b4019d4a5eb26824d58aa2ec7235f0a. A new version of the addon is ready to be approved: https://addons.mozilla.org/en-US/firefox/addon/happy-bonobo-disable-webrtc/versions/?page=1#version-1.0.15

[2016-10-05 18:16] #13 closed

[2016-10-05 18:58] Gitoffthelawn commented on #13
@rugk How did you capture the console as the browser is closing?

[2016-10-05 19:09] ChrisAntaki commented on #13
@Gitoffthelawn I used the `jpm test` command. Here's more on `jpm`: https://developer.mozilla.org/en-US/Add-ons/SDK/Tutorials/Getting_Started_%28jpm%29

[2016-10-06 07:38] rugk commented on #13
Personally I just started Firefox from the Linux console (`type in firefox`) and it showed me all things it logs, also when shutting down.

[2016-10-06 07:39] rugk opened #14 "Tag releases"
Please [tag](https://git-scm.com/book/en/v2/Git-Basics-Tagging) your [releases](https://help.github.com/articles/about-releases/), so they can be seen [on GitHub](https://help.github.com/articles/creating-releases/).

[2016-10-06 18:31] Gitoffthelawn commented on #13
@rugk Thanks.  Firefox is showing all it's internal logs automatically in the Linux console every time it is run for you?

[2016-10-06 20:24] rugk commented on #13
Yes. (I don't know if these are _all_ logs through, but at least they are a lot...)

[2016-10-07 02:48] Gitoffthelawn commented on #13
@rugk Thanks.  Not yet sure why I'm not seeing them, but I still appreciate all the info you provided.  Thanks also to @ChrisAntaki for the `jpm test` info.

[2016-10-31 22:04] gothmog123 opened #15 "persistent state not working"
even if you tick the box, the button state is not saved on a restart

[2016-11-01 00:22] ChrisAntaki commented on #15
Hey @gothmog123 , thanks for pointing this out, I'm checking into it now

[2016-11-01 01:11] ChrisAntaki commented on #15
This bug should be fixed by https://github.com/ChrisAntaki/disable-webrtc-firefox/commit/46fb1bb5b46ba9831d454b302fe8734890aa051c . There's a new version waiting for approval on AMO: https://addons.mozilla.org/en-US/firefox/addon/happy-bonobo-disable-webrtc/versions/?page=1#version-1.0.16

Thanks again

[2016-11-01 07:20] gothmog123 commented on #15
thank you!

[2016-11-01 13:44] #15 closed

[2016-11-19 03:37] arcobelina opened #16 "nasty looking pop up"
I contacted AVG about the pop up I got after installing the addon in Firefox.  They said it had come form a recent addon - and they had seen similar recently

Yours is the only addon I have added in months

This is the popup- may be a problem for people who panic and press things or ring numbers.  I just crashed out of firefox using task manager
![message](https://cloud.githubusercontent.com/asset

[2016-11-19 06:00] ChrisAntaki commented on #16
It definitely looks like a virus... though I'm not convinced it is a
browser addon. I would just suggest disabling all your addons, to verify
that asertion from AVG.

On Nov 18, 2016 7:37 PM, "arcobelina" notifications@github.com wrote:

[2016-11-19 17:20] ChrisAntaki commented on #16
Hey @arcobelina, just curious, what version of Windows are you using?

[2016-11-19 19:21] arcobelina commented on #16
using version 10 - latest version
had version 50 of firefox running but went back to 49.02 because 50 is just
so slow and it didnt happen again

I have got rid of all addons and it didnt happen again,  happened when
trying to get a torrent file from extra torrent.  they say ther eis nothing
wrong their end

cheers

tony

On 20 November 2016 at 03:20, Chris Antaki notifications@github.com wrote:

#

[2016-11-19 19:29] ChrisAntaki commented on #16
Oh, interesting. Is it possible that Extra Torrent triggered that popup? I just visited their site, and the first thing I saw was bold red text saying "Warning! Stop Government from Tracking Your Torrenting!". From what I've heard from friends, Torrent sites can often host malicious advertisements. 😄

[2016-11-19 19:32] arcobelina commented on #16
Ive been using them for year and never had an advert show, I did have
adblock on at the time - just checked now and no adverts even without
adblock

cheers
tony

On 20 November 2016 at 05:29, Chris Antaki notifications@github.com wrote:

##

Tony Magrathea
62 Cooroora Street
Dicky Beach
Qld  4551

0481059976

[2016-11-19 19:39] arcobelina commented on #16
jinxed.  it came up and no add ons running - it is the torrent site thanks
for your patience.

On 20 November 2016 at 05:32, Tony Magrathea arcobelina@gmail.com wrote:

##

Tony Magrathea
62 Cooroora Street
Dicky Beach
Qld  4551

0481059976

[2016-11-19 19:40] ChrisAntaki commented on #16
Glad to help! 😃

[2016-11-19 19:40] #16 closed

[2016-11-19 20:59] arcobelina commented on #16
PS getting on now to give you a 5 star thanks very much for your patience

On 20 November 2016 at 05:40, Chris Antaki notifications@github.com wrote:

##

Tony Magrathea
62 Cooroora Street
Dicky Beach
Qld  4551

0481059976

[2016-12-09 02:24] shvchk opened #17 "Light / more flexible mode, which asks user for permission for peer connection"
There is a hook for createOffer/createAnswer, which enables extensions to allow or deny these calls. So extension could show dialog similar to that used to ask user for permission to use cam or mic, and then enable WebRTC connections only if user explicitly granted that permission. This seems like a good alternative to completely disabled WebRTC.

For more info see this [article with **proof of co

[2016-12-09 02:27] ChrisAntaki commented on #17
Thanks for the link. I think you're right, some people might appreciate that prompt.

[2016-12-19 16:38] kevinmurphy777 opened #18 "NordVPN possible issue?"
Problem is that I'm in Canada, and I am definitely connected to a US server (confirmed by both NordVPN and by IPleak.net)

BUT

http://whatismyipaddress.com/       ..........is shows my actual map location--which is in Canada.

Using Foxfire 50.1.0 "WebRTC is disabled" (green icon)

Not sure where the problem is? NordVPN is asking for screen shots of the above pages....

thanks,
kevin

[2017-01-22 17:36] ChrisAntaki commented on #18
Hey @kevinmurphy777 - is there any chance your browser is allowing that page to access your geolocation? (https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation)

[2017-01-23 16:25] kevinmurphy777 commented on #18
webRTC is/was disabled, & geo.enabled in firefox was already set to false

Kevin

On Sun, Jan 22, 2017 at 12:36 PM, Chris Antaki <notifications@github.com>
wrote:

[2017-01-24 07:15] ChrisAntaki commented on #18
I'd try with a different VPN, just to be sure.

[2017-01-24 08:02] zeengo commented on #18
Make sure to disable IPv6 protocol, that usually is the case.

[2017-01-24 09:52] Gitoffthelawn commented on #18
@zeengo Is your recommendation to disable IPv6 in the entire browser?  Can you provide a few details as to why disabling IPv6 will help?  Not questioning you... only trying to understand. :)

[2017-01-24 11:59] zeengo commented on #18
If your ISP is providing you with IPv6, then it should be disabled as most VPN services are not covering the protocol yet. Leaving it enabled might be the reason why your location is exposed.
Your location might also be displayed because you are using a WiFi access point mapped by Google or geo.enabled was reset as it might happen with an update (or sometimes without any reason at all (at least as

[2017-01-24 14:34] kevinmurphy777 commented on #18
Thanks to all. a few questions, if I may:

1) zeengo said: "Your location might also be displayed because you are using a WiFi access point mapped by Google".... how do I stop the Google mapping issue specifically? geo.enabled in Firefox was already set to 'false' before this happens...

2) is IPv6 disabled at the operating system (Windows 10) or at the browser level?

3) what are the potential fu

[2017-01-24 15:51] ChrisAntaki commented on #18
Thanks for the insights, @zeengo!

@kevinmurphy777 - You could just disable IPv6, until your VPN of choice starts covering the protocol. If that's going to take too long, switching VPN providers might be more ideal.

[2017-01-24 16:05] kevinmurphy777 commented on #18
done! thanks Chris... we will see how this goes..... always concerned that
I'll forget what I have "tweaked" in the past, and how (and what) to
reverse if things go sideways...

On Tue, Jan 24, 2017 at 10:51 AM, Chris Antaki <notifications@github.com>
wrote:

[2017-01-24 16:24] ChrisAntaki commented on #18
Glad to help!

I totally understand that concern. It might help to create a calendar event, with a description like "Check if NordVPN supports IPv6 yet. For more details, check out @zeengo's points in this thread: https://github.com/ChrisAntaki/disable-webrtc-firefox/issues/18#issuecomment-274847914"

[2017-01-25 07:35] zeengo commented on #18
Most VPN providers are moving towards IPv6 support, some of them already did, however disabling the protocol will not cause any issues for at least a year or two. In general, IPv6 will be used once IPv4 addresses runs out, protocol provides multiple advantages, although at the moment I heard rumors that some security flaws are also detected and needs to be fixed before a global migration.

[2017-01-25 07:54] #18 closed

[2017-03-08 06:37] stanlane commented on #9
Has this been fixed?

[2017-03-10 02:17] ChrisAntaki commented on #9
Wasn't able to reproduce the issue...

[2017-03-10 20:18] flyingzebras commented on #9
@ChrisAntaki Is davidhedlund blocked from commenting?

[2017-03-11 03:02] ChrisAntaki commented on #9
Relevant:
https://github.com/davidhedlund/github/issues/3

[2017-04-23 11:27] Jerry10101 opened #19 "DNS is still leaking with WebRTC disabled"
OS X 10.11.6
Firefox 53.0 (64 bit)
Disable WebRTC 1.0.16

Leaks are still showing up on: https://www.dnsleaktest.com/

I checked in about:config and I can see that media.peerconnection.enabled is set to "false", so I guess the plugin is doing its job. But I can't figure out why it's still leaking.

I'm trying this with Hoxx VPN, and I've seen in the reviews of your plugin that it's working with th

[2017-04-23 16:15] ChrisAntaki commented on #19
Hey @Jerry10101 - I would recommend trying a paid VPN like [Private Internet Access](https://www.privateinternetaccess.com/pages/fftf). It costs $40 a year, and the link I provided donates some of the price to [Fight for the Future](https://www.fightforthefuture.org/). Personally, I haven't had much luck with free VPNs like Hoxx.

[2017-04-23 16:20] ChrisAntaki commented on #19
If you're looking for a truly free VPN, I would recommend using [Tor](https://www.torproject.org/projects/torbrowser.html.en).

[2017-04-24 07:53] Jerry10101 commented on #19
Hi. Thanks for your response. I do use Tor as well and plan on going with either PIA or IVPN soon.

I was just trying to see if I could fix the leak with those VPN plugins/extensions as I would think it's more of a browser issue than the VPN itself (and some of the users of your plugin managed to make it work).

But maybe things changed after that and Firefox is leaking through something else.

[2017-04-24 08:11] ChrisAntaki commented on #19
Perhaps the free VPN plugin used to work, but isn't fully compatible with newer versions of Firefox? I'd suggest opening a support ticket with the VPN developers. It sounds like the ball is in their court. 🏀

[2017-04-25 02:48] dumiduwpg opened #20 "how to disable Anonymizer"
Hi,
Please tell me when I use a vpn whoer.net shows me  Anonymizer : vpn how to disable that ?
Thanks!

[2017-04-25 05:44] ChrisAntaki commented on #20
That's a good question. They might just collect the IPs of popular VPNs. If that's the case, you could spin up your own VPN using OpenVPN on Google Cloud Platform. Here's a guide I just found, hope it helps: http://eugenioz.blogspot.com/2015/02/how-to-setup-vpn-on-google-cloud.html

[2017-04-25 05:49] #19 closed

[2017-04-25 05:51] ChrisAntaki commented on #20
I'd recommend reaching out to your VPN with this question though. All my plugin is doing is disabling WebRTC. 😄

[2017-04-25 05:51] #20 closed

[2017-07-19 04:22] ghost commented on #17
I'm attempting to build [Light Web Browser (based off of Firefox Source code)](https://github.com/JOYProjects/Light-Web-Browser) which will have WebRTC components ripped from the source code. I'm also well aware of the IP leaks, as I have done research on this issue before. I'm actually surprised that this hasn't been patched yet by Mozilla.

[2017-08-02 04:32] nicholasmullikin opened #21 "Please update to the new firefox addon standard."
There is more information about the new standard introduced in FF57 to keep add-on compatible [here](https://support.mozilla.org/en-US/kb/firefox-add-technology-modernizing?as=u&utm_source=inproduct)

[2017-08-02 13:46] ChrisAntaki commented on #21
Hey @nicholasmullikin, it looks like WebExtensions aren't allowed to change browser settings, so this addon can't be migrated. 😢
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Comparison_with_the_Add-on_SDK#Settings

[2017-08-09 08:42] ghost commented on #21
Not good, especially since this is a security addon.

[2017-08-25 13:16] loganmarchione commented on #21
@ChrisAntaki, does [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1364975) not describe exactly what you need? It looks like the new setting is **peerConnectionEnabled** from [this page](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/privacy/network).

[2017-08-26 02:33] ChrisAntaki commented on #21
Thanks for researching this, Logan! I'll join in on the bug page.

[2017-09-11 06:02] ChrisAntaki commented on #1
Hey @pcause , I submitted an update just now which should add a menu item for mobile users

[2017-09-11 06:05] ChrisAntaki commented on #14
I'll start doing that, thanks for the tip @rugk

[2017-09-11 06:05] #14 closed

[2017-09-11 06:05] ChrisAntaki commented on #17
I'm not sure if this is possible with the new WebExtensions API

[2017-09-11 06:05] #17 closed

[2017-09-11 06:06] ChrisAntaki commented on #21
Migration update has been submitted

[2017-09-11 06:06] #21 closed

[2017-10-19 15:15] LassGobbeln opened #22 "Disable WebRTC on CEF"
Hey, I need to disable WebRTC on Chromium Embedded Framework 3, I have an important browser-simulating program but it's useless if my IP is being leaked. There is no way to install addons on CEF, it would be great if you could somehow help me fix this. On Firefox your addon works great, disables WebRTC completely. Maybe you can help me out on this one :)

[2017-10-19 15:19] ChrisAntaki commented on #22
Hey, it looks like there might be some similar extensions for chrome already. I'd try checking out the market.

[2017-10-19 15:22] LassGobbeln commented on #22
Sadly CEF doesn't have much to do with the basic Chrome, there are lots of WebRTC blockers for Chrome but CEF can only be configurated with code. I found some code to prevent IP leaking but it won't work. Anyways, thanks for your help!

[2017-10-19 15:26] ChrisAntaki commented on #22
Yeah, sorry I couldn't help. It might be worth filling a ticket in that project asking for the feature. Who knows, maybe they could add a config option fairly easily. Good luck!

[2017-10-19 15:26] #22 closed

[2018-01-26 10:24] ddnomad opened #23 "Verbosity in status message"
Hi!

It's a nice plugin. Though I would suggest you to change a status label when WebRTC is enabled (because a current one is slightly confusing). So my proposed change:

`WebRTC is not disabled. Be careful.` => `WebRTC is *enabled*. Be careful.`

The thing is that the double negation "not disabled" might be overlooked by a user such as me. After locating the word "disabled" I assume that everythi

[2018-01-27 19:00] ChrisAntaki commented on #23
Thanks for bringing this up, @ddnomad. I wanted to avoid using the word "enabled", since someone who wasn't paying attention might think that meant the plugin was enabled. I like your idea of using stars to highlight a word though. What if they highlighted the negation? "WebRTC is \*not\* disabled. Be careful."

[2018-01-27 20:17] ddnomad commented on #23
Well, for me a combination "not disabled" itself looks rather weird. Though stressing on *not* or even *NOT* (which is too much of a stressing but I like it) would be definitely better then a present formulation.

[2018-01-27 21:09] ChrisAntaki commented on #23
Thanks for bringing this up. Fixed by 3fdc675deef37a15fb3486d152cd4eef89fab865.

[2018-01-27 21:09] #23 closed

[2018-01-29 15:01] SchmyeBubbula opened #24 "Clicking to disable disabling no longer works in 1.0.20"
Clicking little icon in toolbar (or whatever you call it) to disable disabling no longer works in 1.0.20.
Firefox 48.0.2 (latest Firefox supported in Mac Snow Leopard... and "You need to upgrade OS" is off-topic!).

[2018-02-02 18:59] FrustratedFireFoxUser opened #25 "Addons list Version 1.0.20 as compatiable with wrong FireFox version"
Version 1.0.20 shows that it "Works with Firefox for Android 48.0 and later, Firefox 48.0 and later " yet Version 1.0.18 said "Works with Firefox for Android 55.0 and later, Firefox 55.0 and later" & "This release updates the addon to use the WebExtensions API."

This will cause problems for users of  ESR v 52 Firefox.

Should not Version 1.0.20 show "Works with Firefox for Android 55.0 and later,

[2018-02-03 16:36] ChrisAntaki commented on #25
You're right, thanks for pointing that out! The listing has been updated.

[2018-02-03 16:36] #25 closed

[2018-02-03 16:55] ChrisAntaki commented on #24
Hey @SchmyeBubbula, I just updated the plugin to only work with Firefox 55+. Sorry about the confusion, I didn't realize the AMO interface would keep defaulting to 48+.

[2018-02-03 16:55] #24 closed

[2018-02-04 01:27] SchmyeBubbula commented on #24
Where can I obtain the last previous version that will still work in Firefox 48.0.2? Please add the link to your addons.mozilla.org page so we Snow Leopard holdouts can continue to use it. (It was working fine until the recent auto-update.)

[2018-02-04 01:40] ChrisAntaki commented on #24
Here's a list of previous versions
https://addons.mozilla.org/en-US/firefox/addon/happy-bonobo-disable-webrtc/versions/

On Sat, Feb 3, 2018, 5:27 PM SchmyeBubbula <notifications@github.com> wrote:

[2018-02-17 12:14] Samuel6969 opened #26 "msgsafe.io"
Dear Sir,

I tried to go on https://www.msgsafe.io/ and I realized I could not access this website without disabling Webrtc. Would you tell me what is the problem with this website?

Many thanks
Samuel

[2018-03-06 13:17] ChrisAntaki commented on #26
It looks like msgsafe.io uses WebRTC for its video and audio calls.

[2018-03-06 13:22] ChrisAntaki commented on #26
If you trust the service, perhaps it makes sense to enable WebRTC while you use it? It's your call. You can quickly toggle WebRTC on/off by clicking the add-on's icon. Green = off, Red = on.

[2018-03-06 13:22] #26 closed

[2018-03-31 19:10] subscriptionblocker opened #27 "disable-webrtc blocks google voice"
https://productforums.google.com/forum/#!topic/voice/6pAlxoo_83o;context-place=forum/voice

Confirmed. Firefox leaks without your addon, but google voice is definitely killed. Confirmed.

Try to imagine how hard this is to explain to your wife :(

[2018-05-31 02:04] karlbright commented on #27
I've been looking into how this could be handled via extension, but there are a few complications.

Testing via meet.google.com I was able to enable WebRTC via this extension, load the page, join a call successfully, and then disable WebRTC again via the extension. This did not affect the call at all as the connection had already been established and it's safe to assume at this point that IP leak

[2018-05-31 02:48] ChrisAntaki commented on #27
Thanks for researching this. Having a backup browser does seem like the best option here.

[2018-06-21 14:30] Telmesomething opened #28 "Addon doesn't work on Waterfox"
I'd already tried preventing the WebRTC leak using "media.peerconnection.enabled = false" in  prefs, but it didn't work, so I tried using your addon instead. However, [whoer.net](https://whoer.net/#extended) still showed WebRTC as enabled.

At the time, I was using the latest version of Waterfox and was connecting to the Web using my Android mobile as a hotspot. The latter was connected to the dat

[2018-12-04 00:32] markwr commented on #27
I would have also liked to somehow "whitelist" https://voice.google.com
I don't make calls there, but just want to see the history of who called me, or texted, or left voice mail.
Currently I have to toggle WebRTC off to see my Google Voice history.

[2019-06-24 15:19] ChrisAntaki commented on #27
Thanks again @karlbright for your research. I added a snippet of your comment to the README and addon description.

[2019-06-24 15:19] #27 closed

[2019-06-24 15:22] ChrisAntaki commented on #28
Interesting, I haven't tried the addon with Waterfox. Is it possible they don't support the newer `media.peerconnection.enabled` preference? I saw they forked Firefox to keep compatibility with older extensions.

[2019-12-10 08:29] diephb opened #29 "I need your old version extension"
Hello! I need old version for firefox, v1.0.11 but i i cant find it in addfirefox, cab you give me it?

[2019-12-10 08:34] ChrisAntaki commented on #29
Hey buddy, does this work?
[disable_webrtc-1.0.1-fx.xpi.zip](https://github.com/ChrisAntaki/disable-webrtc-firefox/files/3943756/disable_webrtc-1.0.1-fx.xpi.zip)

[2019-12-10 08:36] diephb commented on #29
Thank you very much! I will check it later

[2019-12-11 02:50] diephb commented on #29
no, it dont work for firefox v30, have you got another?

[2019-12-11 02:52] ChrisAntaki commented on #29
Sorry that's the oldest version pretty much

On Tue, Dec 10, 2019, 6:50 PM diephb <notifications@github.com> wrote:

[2019-12-11 02:58] diephb commented on #29
if i use new version for firefox v30, can it work? i want to try, but oldversion cant download new version disable webrtc, can you sent to me?

[2019-12-11 03:00] ChrisAntaki commented on #29
Nope, it wouldn't work. The new version uses an API added in later versions
of Firefox. You could try disabling the webrtc settings using the Firefox
settings interface though

On Tue, Dec 10, 2019, 6:58 PM diephb <notifications@github.com> wrote:

[2019-12-11 03:42] ChrisAntaki commented on #29
Would this work for you?
https://whoer.net/blog/article/how-to-disable-webrtc-in-various-browsers/

On Tue, Dec 10, 2019 at 7:00 PM Chris A <chrisantaki@gmail.com> wrote:

[2019-12-13 03:31] ChrisAntaki commented on #29
Sorry I couldn't help more!

[2019-12-13 03:31] #29 closed

[2019-12-13 08:01] diephb commented on #29
Thank you! I find out 1.06 can work on firefox v30

[2020-01-21 09:41] Talkless opened #30 "Feature request: show blocked counter"
It would be nice to have a small counter (on top of addon icon), like uBlock Origin, or Privacy Badger has, to show blocked attempts to start up WebRTC on current site. Currently, addon does provide protection when going to ipleak.net, but there's no feedback that something actually happened.

[2020-04-21 03:42] JohanPirlouit commented on #28
Hi Chris,

I'm sorry to revive this old topic but it is just to confirm that your extension (in version 1.0.21) works fine with both Waterfox Classic (FF56-based, previously known as just Waterfox) and the new Waterfox Current (FF68-based). I used the [whoer.net](https://whoer.net/#extended) link previously provided by _Telmesomething_ to test it..

Probably it was the previous version of Waterfox

[2020-04-21 03:58] JohanPirlouit opened #32 "Verssion 1.0.23 can't install on Waterfox Classic"
Hi Chris,

I currently use Waterfox Classic (based on FF56) and Disable WebRTC 1.0.21 and I can't update to version 1.0.23.. And when I try to manually install it, I get this message:

So, for the moment, I stay with the 1.0.21 version...

By the way, the version 1.0.23 works fine with the new Waterfox Current (based on FF68).

Best regards,
Johan

[2020-04-24 20:14] MeNeDaUnAl commented on #32
Greetings Chris,

I have exactly the same situation of Johan.

Moreover, I've checked that Disable WebRTC 1.0.23 doesn't work with Firefox 56 too (same error) while it works well with Firefox 75.
Maybe Disable WebRTC is now developed as a WebExtension, so it cannot work with Browsers based on pre-Quantum Firefox?

Many thanks.

[2020-04-28 17:35] Avrution commented on #32
Also chiming in with the same issue

[2020-04-28 17:58] ChrisAntaki commented on #28
Hey Johan, glad to hear the extension is working in the newest Waterfox. I wouldn't be surprised if that `WebRTC peer connection` is changing the same setting as this plugin. If so, I would guess the only difference would be hopefully this plugin makes it easier to toggle the setting on/off

[2020-04-28 17:58] #28 closed

[2020-04-28 17:59] ChrisAntaki commented on #30
This would be sweet, but it would require the addon to do more than just changing a setting, it would actually have to be intercepting WebRTC attempts on every page, and I'd like to avoid injecting JS on every page if possible :)

[2020-04-28 17:59] #30 closed

[2020-04-28 18:03] ChrisAntaki commented on #32
Sorry to hear the addon isn't working with older versions of Firefox/Waterfox. You are right about the plugin being developed as a WebExtension, @MeNeDaUnAl. Mozilla pushed pretty hard to make extensions convert to the WebExtension format
![image](https://user-images.githubusercontent.com/1216762/80521335-b886ac00-893f-11ea-9e94-6b125c46a48d.png)
https://developer.mozilla.org/en-US/docs/Archive/Ad

[2020-04-28 18:07] ChrisAntaki commented on #32
I can't commit to supporting those legacy versions of Firefox/Waterfox going forward. However, here is the XPI for version 1.0.21, I hope it's helpful:
[disable_webrtc-1.0.21-an+fx.xpi.zip](https://github.com/ChrisAntaki/disable-webrtc-firefox/files/4547687/disable_webrtc-1.0.21-an%2Bfx.xpi.zip)

If you need other version XPIs, just ask. I should be able to fetch them from AMO's archives.

[2020-04-28 18:08] #32 closed

[2020-04-28 18:12] ChrisAntaki commented on #32
If anyone would like to fork this addon to support those legacy versions of ${element}Fox then this commit branch (https://github.com/ChrisAntaki/disable-webrtc-firefox/tree/46fb1bb5b46ba9831d454b302fe8734890aa051c) would be a good place to start, right before the conversion to WebExtension

Also here is the tool I used to package the extension back then
https://developer.mozilla.org/en-US/docs/Ar

[2020-04-28 21:39] MeNeDaUnAl commented on #32
Thanks for Your reply, Chris.
I understand well that You cannot support legacy versions; life goes forward, whether You like it or not.

I also know I should use a more updated browser but there are old addons I can't do without.
Anyway I'll have to do it, sooner or later, at least for my main browser:
luckily, I always use portable versions, so it's easy for me to switch from one version (or a br

[2020-04-28 23:53] ChrisAntaki commented on #32
Thanks for understanding, I hope you find a newer browser you like!

[2020-04-30 04:45] JohanPirlouit commented on #32
Hi Chris,

First, thank you for your answers!

But there is something that I don't understand: since the version 1.0.21 is already a WebExtension addon, why the 1.0.23 can't work? Are there some changes in the signing method required by Mozilla that could explain the issue with Waterfox Classic?

I just installed the extension again directly from the "version history " page at Mozilla.org ([https:

[2020-04-30 04:57] ChrisAntaki commented on #32
Hey Johan, I just updated the minimum versions to 57, is it working better for you now?

[2020-04-30 05:53] JohanPirlouit commented on #32
Chris, YES, IT WORKS!!! :-D

Good job! No more update request, even by a manual update check... Big thanx for that ;-).. And I keep the 1.0.21 XPI file in case I need it.

Best regards,
Johan

[2020-04-30 06:09] ChrisAntaki commented on #32
Glad to hear it!

[2020-04-30 10:13] MeNeDaUnAl commented on #32
Hi everyone,

I confirm that it works for me too.
I already blocked update requests (on Waterfox Classic) through another addon, "Addon Update Checker", but I tried to disable the block and still there's no update request, neither automatic nor manual.

While on Waterfox Current (FF 68+ core), Disable WebRTC normally updates to 1.0.23.

Well done!

Greetings from Italy

[2020-04-30 16:17] Avrution commented on #32
Odd - still corrupt for me.  The previous 1.0.21 now updates correctly from the page, but not the latest.

[2020-05-02 02:40] JohanPirlouit commented on #32
@Avrution: it's a normal behaviour if you use WF Classic or any previous versions: Disable-webrtc 1.0.23 is not designed for FF before 57 and, as I think you know, WF Classic is based on FF 56 ;-).

The fix simply consists in preventing WF Classic from updating Disable-webrtc to 1.0.23 and keeping version 1.0.21, which is the last to be compatible with it. Thus, the extension manager no longer dis

[2020-05-02 02:55] Avrution commented on #32
Gotcha, for some reason I thought the fix made it work with WF - I do see now that the update option is gone.

[2020-07-24 12:22] johnhamelink opened #33 "Feature Request: allow-list for extensions which use WebRTC"
Hi there,

I normally run Tor Project's [Snowflake extension](https://addons.mozilla.org/en-US/firefox/addon/torproject-snowflake/), which works over WebRTC. It would be nice to be able to allow Snowflake to use WebRTC, while blocking everything else.

[2020-07-24 15:45] ChrisAntaki commented on #33
Thanks for the feature request, John. In my experience, the only safe way to disable WebRTC is by using browser-wide settings. This plugin used to disable WebRTC via embedding JS on every page. Some websites were able to run their JS before the plugin's though, by opening windows and iframes. This motivated me to switch to the browser-wide setting, which doesn't have an option for per-site blockin

[2020-07-24 17:18] johnhamelink commented on #33
Hi @ChrisAntaki I see - I'm not familiar with how modern browsers work, and I was working under the impression that other plugins would have a different API to the one used by websites, etc. I think I agree with you that Snowflake is probably not a good enough reason to open up a codepath that could be abused somehow. That's a shame, but thanks for your detailed reply nonetheless.

[2020-07-24 17:32] ChrisAntaki commented on #33
You're welcome, thanks again for the FR

[2020-07-24 17:32] #33 closed

[2020-08-29 15:25] ktleary opened #34 "Do you have a privacy policy?"
If you have one could you please share a link?

[2020-08-29 15:35] ChrisAntaki commented on #34
Hey Kevin, this addon doesn't have a privacy policy currently. I'll start writing a formal privacy policy in the coming weeks. I can write a brief policy now though. The plugin doesn't collect any user data. The only data it saves is the preference to disable or enable webrtc. That preference is saved locally on the user's device. I have received offers to "monetize" the plugin but I have zero int

[2020-09-03 11:47] internationils opened #35 "Feature Request: whitelist URLs or individual tabs"
Hello, I seem to run into WebRTC required sites a little more often lately, and it would be great if the settings could be applied on a per-tab or per-site basis. Maybe this is not possible or sensible as in https://github.com/ChrisAntaki/disable-webrtc-firefox/issues/33 ... but it would be useful.
If it is not possible, I would suggest briefly documenting this in a paragraph on the code page as I

[2020-09-05 18:06] ChrisAntaki commented on #34
Hey @ktleary, I added a privacy policy to the README. I remembered the addon doesn't save anything across sessions, it just keeps a true/false variable in memory while it's running. I just wrote "This add-on collects nothing and sends nothing." for the privacy policy. 😂 - I hope that's clear? If it leaves ambiguity, I could write more

If I recall correctly, a previous version of this add-on did s

[2020-09-05 18:10] ChrisAntaki commented on #35
I'm glad you called this out! Firefox can't disable WebRTC per-tab or per-window, the setting affects the entire browser. I added the last sentence to the README, and I hope this adds clarity

[2020-09-05 18:27] ghost commented on #34
Sounds good ... when I am recommending an add-on I usually make sure it has: a repo, a good license and a privacy policy and that was the only piece missing. You might want to add it to your add-on page at some point, but as far as I'm concerned its resolved. Thank you for a quick response.

[2020-09-05 18:33] ChrisAntaki commented on #34
I'm glad you let me know 👍

[2020-09-05 18:33] #34 closed

[2020-09-05 18:37] ChrisAntaki commented on #34
I just updated the addon page as well
https://addons.mozilla.org/en-US/firefox/addon/happy-bonobo-disable-webrtc/

[2020-09-06 03:49] #35 closed

[2021-01-11 10:42] daniel-j-h opened #36 "Re-enable addon after closing tab / window"
Similar to https://github.com/ChrisAntaki/disable-webrtc-firefox/issues/35 it looks like we can not disable WebRTC on a tab by tab basis. But can we temporary disable WebRTC globally, and then have it re-enabled when the user closes the tab or closes the window?

The use case is as follows:
- by default I want to disable WebRTC
- but sometimes I need WebRTC e.g. for a half an hour call
- I'm a stu

[2021-01-12 04:19] ChrisAntaki commented on #36
Hey Daniel! Sadly, Firefox won't let us scope WebRTC settings to a tab/session/window. That being said, if you quit Firefox, then the Disable WebRTC extension should reactivate when you boot Firefox up next

[2021-01-12 04:29] #36 closed

[2021-01-12 12:30] daniel-j-h commented on #36
Would it be possible on have an on tab removed listener

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/getCurrent
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/onRemoved

and in there set the global WebRTC setting? :thinking: And then have not just a single button the user can click but a second button like "Disable until tab is c

[2021-01-24 19:34] beppe9000 opened #37 "do websockets too ?"
It would be awesome to have an extension for websockets too. is it possible ?
it looks like `network.websocket.max-connections=0` prevents websocket creation, but idk about feature sniffing.

thansk

[2021-01-24 21:06] ChrisAntaki commented on #37
Hey @beppe9000 !

Technically I think it's possible, probably with just a few modifications to this extension's source

Could you tell me more about the security benefits for disabling WebSockets?

Thanks,
Chris

[2021-01-25 16:50] beppe9000 commented on #37
For me is mostly a debugging concern since I wanted to test websites fallback behaviours in response to lack of websockets.

on the security side since websockets suffer from many of https problems it means there is the possibility of things liek cross-site websocket hijacking getting exploited

[2021-01-25 16:53] ChrisAntaki commented on #37
I probably won't have time to make a new extension for web sockets. Please feel free to fork the code of this extension though. I would just ask you use a different logo if you release it

[2021-01-25 16:53] #37 closed

[2021-01-25 16:54] beppe9000 commented on #37
ok. can you confirm to me that extensions can change about:config values ?

[2021-01-25 16:56] ChrisAntaki commented on #37
Yep, that's what this plugin does

[2021-01-25 17:23] beppe9000 commented on #37
ok thanks. this link is contradicting https://stackoverflow.com/a/50024435/3389585

[2021-01-25 20:13] ChrisAntaki commented on #37
Oh, you're right! You might need to use https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webRequest

[2021-01-25 23:23] beppe9000 commented on #37
any idea for preventing this kind of detection ?
`var hasWebSocket = 'WebSocket' in window || 'MozWebSocket' in window`

[2021-01-25 23:34] ChrisAntaki commented on #37
Nope, sorry. The earliest versions of my plugins just injected JavaScript that deleted global objects. Turns out this isn't good enough though. People have ways to run JavaScript before plugins inject theirs

[2021-01-26 01:01] beppe9000 commented on #37
i see... maybe i'll try delaying all web requests until i have removed that object

[2021-01-26 07:14] ChrisAntaki commented on #37
I'm not sure if you're able to guarantee your extension's injected JavaScript will run before a script tag in the HTML. The page's script could potentially save a reference to the object and continue to use it, even if your extension deletes the global reference and pauses web requests. You would have to test it to be sure.

If I were you, I'd just use that webRequest API to identify and block Web

[2021-01-26 12:06] beppe9000 commented on #37
I wonder if i can edit about:configs from an external executable for limiting the websocket connections to zero.
As for feature sniffing I could make a proxy to inject the global deletion script in the page (and make ws reqs fail), but I'm not sure how it plays with service workers and it would be a pretty unpractical solution... which has me concluding that an extension is not really feasible, ex

[2021-01-26 12:46] ChrisAntaki commented on #37
For sure, this link might help you with that
https://www.reddit.com/r/firefox/comments/95a5qy/comment/e3r7vwz

On Tue, Jan 26, 2021, 4:06 AM beppe9000 <notifications@github.com> wrote:

[2021-03-29 03:07] thegarlynch opened #38 "Optionally Allow webrtc for snowflake extension ?"

[2021-11-05 08:24] PSIG-dev opened #39 "Icon color meanings?"
Just a note that there is no explanation I could find in the read.me of whether green is ON (protected) and red is OFF or the other way around.  In-case anyone is assuming, like me.  ;-)  Else, a noted test function or test page would be handy as well.

[2022-01-09 18:08] rugk commented on #38
Same as https://github.com/ChrisAntaki/disable-webrtc-firefox/issues/27 likely, this add-on just toggles a Firefox setting, so it disables WebRTC for the whole browser, thus extensions based on that unfortunately also don't work…

[2022-01-09 18:09] rugk opened #40 "404 error for link to https://www.privacytools.io/webrtc.html"
The add-on description on AMO links to https://www.privacytools.io/webrtc.html, but that returns a 404 error, i.e. that page does not exist anymore.

[2022-01-09 18:12] ChrisAntaki commented on #39
When you hover over the icon, this tooltip appears
<img width="110" alt="image" src="https://user-images.githubusercontent.com/1216762/148694853-679b8ba7-91df-4738-ac11-f8132f6bcb99.png">

[2022-01-09 18:12] #39 closed

[2022-01-09 18:14] ChrisAntaki commented on #40
Good catch! I updated the README to reference https://browserleaks.com/webrtc instead

[2022-01-09 18:14] #40 closed

[2022-02-11 15:44] SSgumS opened #41 "[Feature Request] Android support"
There is no WebRTC Leak prevention extension in Android. It would be great if this extension could support Android.

[2022-02-18 04:09] Gitoffthelawn opened #42 "Some donation links broken"
Your donation links are very thoughtful and encouraging.  A couple of them are no longer working.  Perhaps you could update them and maybe even add some new ones.

[2022-02-19 09:07] #42 closed

[2022-02-19 09:08] ChrisAntaki commented on #42
Nice catch, fixed !

[2022-02-19 21:57] Gitoffthelawn commented on #42
Awesome!